#set-menu {
    font-size: 30px;
    flex: 0 0 20vw;
    margin-right: 10px
}

button[id*="menu-"] {
    background-color: var(--color-camagru-1);
    width: 100%;
    cursor: pointer;
    padding: 13px 20px;
    margin: 0;
    border: none;
    width: 100%;
    font-size: 17px;
    border: 1px solid var(--color-camagru-3);
}

#menu-1::after {
    content: 'User';
}

#menu-2::after {
    content: 'Change Mail';
}

#menu-3::after {
    content: 'Change Password';
}

#menu-4::after {
    content: 'Privacy';
}

#content {
    text-align: center;
    flex-grow: 2;
    flex: 1;
}

#content > form > * {
    margin: 10px 30px;
    height: 30px;
}

#content > form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#set-submit {
    background-color: var(--color-camagru-1);
}

#set-submit::after {
    content: 'Submit Changes';
}

#content > #oldpw-set::before {
    content: 'Old Password:';
    height: 20px;
}

@media screen and (max-width: 800px) {
    div.container-2 {
        flex-direction: column;
    }
}