#up-strip {
    display: block;
    border: thick double #32a1ce;
    width: 30%;
    margin-left: 5%;
}

#up-main {
    display: block;
    width: 65%;
    height: 70vh;
}

#canvas {
    max-width: 100%;
    max-height: 100%;
    border: thick double #32a1ce;
}

.up-preview {
    position: relative;
    max-width: 100%;
}

.preview-pic {
    max-width: 100%;
}

.up-pv {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

#video {
    display: none;
    min-width: 20%;
    min-height: 20%;
    border: thick double #32a1ce;
}

@media screen and (max-width: 600px) {
    #preview, #canvas {
        width: 100%;
    }
    #up-strip {
        width: 100%;
    }
    #up-main {
        margin-top: 6%;
        width: 100%;
    }
}