
form.v1 {border: 3px solid #f1f1f1;
    max-width: 400px;
    margin: auto;
}

input[type=text].v1, input[type=password].v1 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button.v1{
  background-color: rgb(250,100,200);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
    font-size: 20px;
    display: block;
    float: none;
    padding-top: 16px;
}

p.error-alert {
  color: red;
  text-align: center;
}