div.container-2 {
    height: 60vh
}

div.set-menu {
    background-color: purple;
    float: left;
    width: 30%;
    min-height: 60vh;
    font-size: 30px;
    border-right: 5px solid black;
}

button.set-index{
    background-color: rgb(215, 241, 167);
    padding: 20px 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

div.set-body {
    float: left;
    width: 60%;
    background-color: gray;
},