body{
	margin: 0;
	font-family: 'Oswald', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	display: flex;
	flex-direction: column;
}

.flex-container	{
	display: flex;
	flex-wrap: wrap;
}

.mid-wrap	{
	width: 100%;
	height: 85%;
	display: flex;
	position: relative;
	justify-self: stretch;
}

header	{
	justify-content: space-between;
	height: 10%;
	width: 100%;
	background: rgb(2, 200, 250);
}

header > div	{
	text-align: center;
	font-size: 25px;
}

footer	{
	flex-direction: row;
	justify-content: space-around;
	width: fill;
	height: 5%;
	bottom: 0px;
	background-color: rgb(2, 200, 250);
}

div#t {
	width: 100%;
	height: 100%;
}

ul {
  list-style-type: none;
}

ul li {
	display: inline;
	margin: 30px;
}

a	{
	text-decoration: none;
}

a.redir {
	color: #000000;
}

a.redir:hover {
	border-bottom: 2px solid black;
}

a#extern {
     color:#000000;
}

a#extern:hover
{
	 color: #D445C1;
     cursor:pointer;
}

p.foot	{
	font-size: 1.5vw;
	margin: 0;
}

p.alert {
	text-align: center;
}

p.alert.error {
	color: red;
}